/* BODY */
body {position: relative;
        text-align: center;
        font-family: 'Helvetica Neue', arial;
        width: 100%;
        height: 100%:
        display: inline-block;
        background-color: #9687;
        background-image: radial-gradient(white 6%, transparent 10%),radial-gradient(white 6%, transparent 10%);
        background-size: 40px 40px;
        animation-name: backgroundmovement;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;}



/* BACKGROUND */ 
@keyframes backgroundmovement {0%{background-position 0px 0px, 60px 60px}{background-position: 60px 60px, 120px 120px;}}



/* HEADER */
h1 {font-weight: 100;
   font-size: 4em;
   font-family: "Gugi", cursive;}



/* IMAGE */
.eight-ball {background-color: black;
                border: 1px solid black;
                border-radius: 50%;
                width: 300px;
                height: 300px;
                margin: 0 auto;}

#eight {font-size: 5em;
         margin: 20% auto;
         color: white;}

p {margin: 0;
   font-weight: 50;}



/* OUTPUT ANSWER */
.answer {background-color: #333;
            border: 1px solid #333;
            border-radius: 50%;
            width: 50%;
            height: 50%;
            margin: 25% auto;}

#answer {padding: 20px;
          color: white;
          letter-spacing: 1px;}



/* BUTTON */
button, input {margin: 20px;
               padding: 10px;
               border: 1px solid black;
               border-radius: 10px;
               font-size: 1.2em;
               font-family: 'Helvetica Neue', arial;
               font-weight: 100;
               letter-spacing: 2px;
               transition: .5s font-size;}

button:hover {font-size: 1.4em;
              color: grey;}


